<div ng-hide="connected">
  <h1>Welcome</h1>

  <p class="lead">Before connecting to chat, you're first going to need to tell me who you are.</p>

  <form class="form-inline">
    <div class="form-group">
      <label for="name" class="sr-only">Name</label>
      <input type="text" class="form-control" id="name" ng-model="name" placeholder="Ema Nymton">
    </div>
    <button type="submit" class="btn btn-default" ng-click="connect()" ng-disabled="connecting">That's me</button>
  </form>
</div>

<div ng-show="connected">
  <h1>All right, let's get this party started</h1>

  <div class="chat-log" id="chatLog">
    <p ng-repeat="line in chatLog track by $index">
      {{ line.date | date : 'HH:mm:ss'}} <mark>{{line.identity}}</mark> : {{line.message}}
    </p>
  </div>

  <button type="submit" class="btn btn-default" ng-click="clearChatLog()">Clear chat history</button>


  <form class="form-inline">
    <div class="form-group">
      <label for="name" class="sr-only">Name</label>
      <input type="text" class="form-control" id="message" ng-model="message" placeholder="What's on your mind?">
    </div>
    <button type="submit" class="btn btn-default" ng-click="say()">Say</button>
  </form>
</div>