@import "lib/bootstrap/less/bootstrap.less";
@import "variables.less";
@import "bootswatch.less";

body {
  padding-top: 50px;
}
.main-content {
  padding: 40px 15px;
}

.chat-log {
  border: 1px solid bisque;
}